body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background: url(website-background.png) center 
}
#wrapper {
  width: 960px;
  margin: 20px auto;
  margin-left: 295px;
}
h1, h2, h3 {
  color: black;
  font-weight: 800;
  margin-top: 2px;
}
/*hit command slash to auto comment*/
#summary {
  color: black;
}
.unicorn {
  color: purple;
}
#experience {
  margin-top: 1em;
  margin-right: 1.5em;
  margin-bottom: 2em;
  float: right;
}
#skills{
  margin-top: 1em;
  margin-right: 1.5em;
  margin-bottom: 2em;
  float: right;
}
img {
  width: 250px;
  height: 250px;
}

/*div {
  margin-top: 1em;
  margin-right: 1.5em;
  margin-bottom: 2em;

} */
/*h4 {
  float: none;
  text-align: justify;
  border-radius: 5px 5px 5px 5px;
  border-style: groove;
  box-shadow: 4px 4px 4px 4px gray 

}*/
.right {
  text-align: right;
}
.row {
  margin-left: 15px;
}
.btnlist {
  margin-top: 5px;
}
.alert {
  margin-top: 5px;
}
.list-group-item {
  margin-top: 1px;
}
.img-margin {
  margin-top: 5px;
  border: bold 2px black;
}
.awards {
  font-size: 12px;
  font-weight: 100;
}
.table-bordered>tbody>tr>td {
  border: 1px solid black;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}