body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background: url(website-background.png) center 
}
#wrapper {
  width: 960px;
  margin: 20px auto;
  margin-left: 295px;
}
h1, h2, h3 {
  color: black;
  font-weight: 800;
}
/*hit command slash to auto comment*/
#summary {
  color: black;
  font-variant: small-caps;
}
.unicorn {
  color: purple;
}
#experience {
  margin-top: 1em;
  margin-right: 1.5em;
  margin-bottom: 2em;
  float: right;
}
#skills{
  margin-top: 1em;
  margin-right: 1.5em;
  margin-bottom: 2em;
  float: right;
}
img {
  border: 10px ridge gray;
  width: 250px;
  height: 250px;
  float: left;
  margin: 10px 10px 10px 10px;
}

div {
  margin-top: 1em;
  margin-right: 1.5em;
  margin-bottom: 2em;

}
h4 {
  float: none;
  text-align: justify;
  border-radius: 5px 5px 5px 5px;
  border-style: groove;
  box-shadow: 4px 4px 4px 4px gray 

}
.right {
  text-align: right;
}
