body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background: url(linedpaper.png) center 
}
#wrapper {
  width: 960px;
  margin: 20px auto;
}
h1, h2, h3 {
  color: orange;
  font-weight: 600;
}
/*hit command slash to auto comment*/
#summary {
  color: red;
}
.unicorn {
  color: purple;
}
#experience {
  margin-top: 1em;
  margin-right: 1.5em;
  margin-bottom: 2em;
  float: right;
}
#skills{
  margin-top: 1em;
  margin-right: 1.5em;
  margin-bottom: 2em;
  float: right;
}
img {
  border: 20px ridge orange;
}
div {
  margin-top: 1em;
  margin-right: 1.5em;
  margin-bottom: 2em;

}
h4 {
  float: none;
  text-align: justify;
  border-radius: 5px 5px 5px 5px;
  border-style: groove;
  box-shadow: 4px 4px 4px 4px gray 

}
